mat-card {
    padding: 20px;
    margin-bottom: 20px;
    &:hover { // Use the :hover pseudo-class to target hover state
        background-color: lightblue; // Change to your desired color
    }   
}

.photo {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.2em;
    font-weight: bold;

}

.links a {
    margin-right: 10px;
}