<div *ngIf="isLoading">
    <p>Carregando certificados...</p>
</div>

<div *ngIf="error">
    <p>Ocorreu um erro ao carregar os certificados: {{ error.message }}</p>
</div>

<div *ngIf="!isLoading && !error">
    <mat-card>
        <details>

            <summary>
                <h2>Todos os Certificados</h2>
            </summary>

            <ul>
                <li *ngFor="let certificado of certificados">

                    <a [href]="certificado.url" target="_blank">
                        {{ certificado.title }}
                    </a>
                </li>
            </ul>

        </details>
    </mat-card>
</div>