<div class="container">
  <div class="row">
    <div class="col">
      <app-basic-info
        name="Julian Gamboa"
        email="julian.gamboa.ms.2021@gmail.com"
        linkedinUrl="https://www.linkedin.com/in/julian-gamboa-bahia/"
        gitUrl="https://github.com/julian-gamboa-ensino/"
        photoUrl="https://avatars.githubusercontent.com/u/35019237?v=4"
      ></app-basic-info>
    </div>
    <div class="col">
      <app-certificates-section></app-certificates-section>
    </div>
  </div>
</div>