mat-card {
    padding: 20px;
    margin-bottom: 20px;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.2em;
    font-weight: bold;

}

.links a {
    margin-right: 10px;
}